:root {
    --main-color: #087f5b;
    --grey-color: #343a40;
    --light-gray: #bbc3ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--grey-color);
    line-height: 1;
}

.accordion {
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}

.hidden-box {
    grid-column: 2;
    display: none;
}

.icon {
    width: 24px;
    height: 24px;
    /* stroke: var(--main-color); */

}

.number,
.text {
    font-size: 24px;
    font-weight: 500;
    /* color: var(--main-color); */
}

.number {
    color: var(--light-gray)
}

.answer {
    line-height: 1.6;
    margin-bottom: 24px;
}

.answer-list {
    color: #60656b;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item.open {
    border-top: 3px solid var(--main-color);
}

.open .hidden-box {
    display: block;
}

.open .icon,
.open .number,
.open .text {
    color: var(--main-color);
}